<div class="content-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"> <a class="navbar-brand" href="http://kenjacau.me/">Kenjacau</a> </div>
            <ul class="nav navbar-nav">
                <li class="home"><a href="home.erb">Home</a></li>
                <li class="about"><a href="./views/about.erb">About Me</a></li>
                <li class="projects"><a href="./views/project.erb">Projects</a></li>
                <li class="blog active"><a href="./views/blog.erb">Blog</a></li>
                <li class="resume"><a href="./views/resume.erb">Resume</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./create.erb"><span class="glyphicon glyphicon-user"></span>Contact Me</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="container">
            <div class="row social-block">
                <div class="col-sm-12">
                    <div class="socialmedia">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/kenjacau"><img src="/images/linkedin.png"></a>
                            </li>
                            <li>
                                <a href="https://github.com/Kenjacau"><img src="/images/thegithubicon.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 jumbotron">
                <h2 class="text-center">Blog</h2>
                <div class="row blog">


                    <% @blogposts.each do |blogpost| %>

                        <div class="row">
                            <div class="row">
                                <h3> <%=blogpost.title %> </h3>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"> <img src="<%=blogpost.filesrc %>" class="img-thumbnail" width="304" height="236"></img>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <%=blogpost.content %>
                                    </p>
                                </div>
                            </div>
                            <div class=container>
                            <div class="row">
                                <nav class="navbar navbar-inverse">
                                    <div class="container-fluid">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a class="btn btn-inverse" data-toggle="collapse" href="#collapseViewComment<%=blogpost.id%>" aria-expanded="false" aria-controls="collapseViewComment<%=blogpost.id%>">
                                                    <%=commentcount(blogpost.id)%> Comments</a>
                                                   
                                            </li>
                                            <li>
                                            <a class="btn btn-inverse" data-toggle="collapse" href="#collapseCreateComment<%=blogpost.id%>" aria-expanded="false" aria-controls="collapseCreateComment<%=blogpost.id%>">
                                                   Post Comment</a>
                                                   </li>
                                            <li class="link"><a href="<%=blogpost.hreflink%>"><%=getlink(blogpost)%></a></li>

                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="/readmore/<%=blogpost.id%>"><span></span>Read More</a></li>
                                        </ul>
                                    </div>
                            </div>


                            </nav>
                            <div class="row">
                                <div class="collapse container" id="collapseViewComment<%=blogpost.id%>">
                                    <div class="card card-block">
                                        <div class="row well">
                                         <% blogcomments = getcomments(blogpost.id) %>
                                        <% blogcomments.each do |comment| %>
                                        
                                        
                                        <div class="row">
                                                <p style="font-size:.9em"><%=comment.user%> said: <%=comment.comment%></p>
                                            </div>
                                             
                                        
                                        <% end %>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                            <div class="row">
                                <div class="collapse container" id="collapseCreateComment<%=blogpost.id%>">
                                    <div class="card card-block">
                                        <div class="row">
                                            <form class="form" method="POST" action="/createcomment">
                                                <input type='hidden' name="comment[blogposts_id]" value='<%=blogpost.id%>' />


                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <input autofocus="autofocus" id="user" maxlength="30" name="comment[user]" placeholder="Name" type="text" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <textarea class="form-control n" rows="5" placeholder="Comment" name="comment[comment]"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <button class="btn btn-primary btn-md" type="submit">Submit</button>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                        <% end %>


                </div>
            </div>
        </div>
    </div>
</div>